.paragraph{
    color:crimson;
    text-align: center;
    
}

.formula{
    text-align: center;
    color:blueviolet;

}

html{
    background-image: url(./images/ab94i3q4agk21.jpg);
}
img{
    text-align: center;
    
}